{% extends 'base.html' %}
{% load static %}

{% block title %}Edit User Information{% endblock %}

{% block content %}

<h1>Edit User Information</h1>

<div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %}
        <p><strong>Username:</strong> <input type="text" name="username" value="{{ user.username }}"></p>
        <p><strong>Email:</strong> <input type="email" name="email" value="{{ user.email }}"></p>
        <p><strong>Address:</strong> <input type="text" name="address" value="{{ user.address }}"></p>
        <button type="submit">Save Changes</button>
    </form>
</div>

{% endblock %}
