{% extends 'base.html' %}
{% block title %}Bills{% endblock %}
{% block content %}
{% if hoadon %}

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Họ tên</th>
        <th scope="col">Ngày khám</th>
        <th scope="col">Tiền khám</th>
        <th scope="col">Tiền thuốc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td>{{ hoadon.benhnhan.hoten }}</td>
          <td>{{ hoadon.benhnhan.ngaykham }}</td>
          <td>{{ hoadon.tienkham }}</td>
          <td>{{ hoadon.tienthuoc }}</td>
      </tr>  
    </tbody>
</table>
<a href="{% url 'dsKhambenh' ngaykham %}" class="btn btn-primary" role="button">Back</a>
<a href="{% url 'hoadon_pdf' hoadon.benhnhan.id %}" class="btn btn-primary" role="button">Download PDF</a>
{% else %}
<h1>Chưa tạo phiếu khám bệnh cho bệnh nhân này</h1>
{% endif %}
{% endblock %}
