{% extends 'base.html' %}
{%block title%}Bills{%endblock%}
{% block content %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Cure Cost</th>
        <th scope="col">Medicine Cost</th>
      </tr>
    </thead>
    <tbody>
      
  {% if hoadon %}
        <tr>
            <td>{{ hoadon.id }}</td>
            <td>{{ hoadon.name }}</td>
            <td>{{ hoadon.date }}</td>
            <td>{{ hoadon.cureCost }}</td>
            <td>{{ hoadon.medicineCost }}</td>
            
        </tr>  
  {% endif %}
      
        </tbody>
      </table>
{%endblock%}