{% extends 'base.html' %}
{%block title%}Medical Record{%endblock%}
{% block content %}

{% if phieukb %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Họ tên</th>
        <th scope="col">Ngày khám</th>
        <th scope="col">Triệu chứng</th>
        <th scope="col">Dự đoán loại bệnh</th>
        <th scope="col">Sửa</th>

      </tr>
    </thead>
    <tbody>
      
      </tr>
        <td>{{ phieukb.benhnhan.hoten }}</td>
        <td>{{ phieukb.benhnhan.ngaykham }}</td>
        <td>{{ phieukb.trieuchung }}</td>
        <td>{{ phieukb.dudoan }}</td>
        <td><a href="{% url 'sua_phieukb' phieukb.id %}" class="btn btn-primary">Sửa</a></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped table-hover table-bordered">
      {% if pkbthuocs %}
      <thead class="table-dark">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Thuốc</th>
          <th scope="col">Đơn vị</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Cách dùng</th>
          <th scope="col">Thao tác</th>

        </tr>
      </thead>
      {% for pkbthuoc in pkbthuocs  %}
      <tbody>
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{ pkbthuoc.thuoc.tenThuoc }}</td>
          <td>{{ pkbthuoc.donvi }}</td>
          <td>{{ pkbthuoc.soluong }}</td>
          <td>{{ pkbthuoc.cachdung }}</td>
          <td>
            <a href="{% url 'xoa_pkbthuoc' pkbthuoc.id phieukb.benhnhan.id %}" class="btn btn-primary">Xóa</a>
            <a href="{% url 'sua_pkbthuoc' pkbthuoc.id phieukb.benhnhan.id %}" class="btn btn-primary">Sửa</a>
          </td>
      </tbody>
      {% endfor %}
      {% endif %}

    </tbody>
  </table>
<a href="{% url 'add_thuocphieukb' idBenhnhan %}" class="btn btn-primary" role="button">Thêm thuốc</a>
<a href="{% url 'xoa_phieukb' phieukb.id %}" class="btn btn-primary" role="button">Xóa</a>

{% else %}
  <h1>Bạn chưa tạo phiếu khám bệnh cho bệnh nhân này</h1>
  <a href="{% url 'add_phieukb' idBenhnhan %}" class="btn btn-primary" role="button">Tạo</a>
{% endif %}
<a href="{% url 'dsKhambenh' ngaykham %}" class="btn btn-primary" role="button">Quay về</a>

{%endblock%}