{% extends 'base.html' %}
{% block title %}Thay đổi{% endblock %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <table class="table table-striped table-hover table-bordered table-light">
        <thead>
            <tr>
                <th scope="col">Số lượng bệnh nhân tối đa</th>
                <th scope="col">Các loại bệnh</th>
                <th scope="col">Các cách dùng</th>
                <th scope="col">Tiền khám</th>
            </tr>
        </thead>
        <tbody id = 'body'>
            <tr>
                <td>{{ default_values.max_patient }}</td>
                {% load split_filter %}
                <td>{{ default_values.loaibenh|split:","|first }} 
                    <button onclick="xoaloaibenh('{{ default_values.loaibenh|split:","|first }}')">X</button>
                </td>
                <td>{{ default_values.cachdung|split:","|first }}
                    <button onclick = "xoacachdung('{{ default_values.cachdung|split:","|first }}')">X</button>
                </td>
                <td>{{ default_values.tienkham }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<button type="submit" class="btn btn btn-success" onclick = "updatemaxpatient()">Thay đổi số bệnh nhân tối đa</button>
<div id ="updatemaxpatient"></div>
<br></br>

<button type="submit" class="btn btn btn-success" onclick = "themloaibenh()">Thêm loại bệnh</button>
<div id ="themloaibenh"></div>
<br></br>
<button type="submit" class="btn btn btn-success" onclick = "themcachdung()">Thêm cách dùng</button>
<div id ="themcachdung"></div>
<br></br>
<button type="submit" class="btn btn btn-success" onclick = "updatetienkham()">Thay đổi tiền khám</button>
<div id ="updatetienkham"></div>
<br></br>

<script >
    cachdungs = "{{default_values.cachdung}}".split(',')
    loaibenhs = "{{default_values.loaibenh}}".split(',')
    body = document.getElementById("body")
    console.log(cachdungs.length)
    console.log(loaibenhs.length)

    var i = 1
    var j = 1
    while(i < loaibenhs.length && j < cachdungs.length){
        body.innerHTML += `<tr><td></td><td>${loaibenhs[i] }<button onclick = "xoaloaibenh('${loaibenhs[i] }')">X</button></td><td>${cachdungs[j] }<button onclick = "xoacachdung('${cachdungs[i] }')">X</button></td><td></td></tr>`
        i++
        j++
    }
    while(i < loaibenhs.length){
        body.innerHTML += `<tr><td></td><td>${loaibenhs[i] }<button onclick = "xoaloaibenh('${loaibenhs[i] }')">X</button></td><td></td><td></td></tr>`
        i++
    }
    while(j < cachdungs.length){
        body.innerHTML += `<tr><td></td><td></td><td>${cachdungs[j] }<button onclick = "xoacachdung('${cachdungs[i] }')">X</button></td><td></td></tr>`
        j++
    }
    function themloaibenh(){
        element = document.getElementById('themloaibenh')
        element.innerHTML =`<form method="post" action="/themloaibenh/">{% csrf_token %}
            <input type="text" name="loaibenh" placeholder="Loại bệnh">
            <input type="submit" value="Submit"></form>`
    }
    function xoaloaibenh(value){
        fetch('/xoaloaibenh/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ value: value })
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response data
        })
        .catch(error => {
            // Handle the error
        });
        location.reload();
    }
    function themcachdung(){
        element = document.getElementById('themcachdung')
        element.innerHTML =`<form method="post" action="/themcachdung/">{% csrf_token %}
            <input type="text" name="cachdung" placeholder="Cách dùng">
            <input type="submit" value="Submit"></form>`
    }
    function xoacachdung(value){
        fetch('/xoacachdung/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ value: value })
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response data
        })
        .catch(error => {
            // Handle the error
        });
        location.reload();
    }
    function updatetienkham(){
        element = document.getElementById('updatetienkham')
        element.innerHTML=`<form method="post" action="/updatetienkham/">{% csrf_token %}
            <input type="number" name="updatetienkham" placeholder="Tiền khám">
            <input type="submit" value="Submit"></form>`
    }
    function updatemaxpatient(){
        element = document.getElementById('updatemaxpatient')
        element.innerHTML=`<form method="post" action="/updatemaxpatient/">{% csrf_token %}
            <input type="number" name="updatemaxpatient" placeholder="Số bệnh nhân tối đa" min="1">
            <input type="submit" value="Submit"></form>`
    }
</script>
{% endblock %}


