{% extends 'base.html' %}
{% load static %}
{%block title%}Add Record Page{%endblock%}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Thêm bệnh nhân</h1>
    <br>
    <form id ='themBN' method = "POST" >
        {% csrf_token %}
        {{form.as_p}}

        <button id="themBNSave" type="submit" class="btn btn btn-success">Thêm</button>
        <a href="{% url 'dsKhambenh' ngaykham %}" class="btn btn-secondary">Back</a>
    </form>
</div>
<script src="{% static 'JavaScript/addPatient.js' %}"></script>

{%endblock%}